In [2]:
def fullname(first_name, last_name):
    return first_name + " " + last_name

# Get user input and display the result
print("Full Name:", fullname(input("Enter your first name: "), input("Enter your last name: ")))

Enter your first name: sucharitha
Enter your last name: aeluri
Full Name: sucharitha aeluri

In [11]:
def string_alternative(full_name):
    return full_name[::2]

input_string = input("Enter a string: ")
output_result = string_alternative(input_string)

print("Output:", output_result)

Enter a string: GOOD EVENING
Output: GO VNN

In [ ]:
text = open("input.txt", "r")
d = dict()
for line in text:
  line = line.strip()
  line = line.lower()
  words = line.split(" ")
  for word in words:
    if word in d:
      d[word] = d[word] + 1
    else:
      d[word] = 1
file1 = open('output.txt', 'w')
s=""
for key in list(d.keys()):
     s += key+ ":" + str(d[key])+ "\n"
file1.write(s)
file1.close()

In [8]:
heights = [150, 155, 145, 148]
centimeters = []

for height in heights:
    cm = height * 2.54
    centimeters.append(cm)

print("Heights in inches:", heights)
print("Heights in centimeters:", centimeters)

Heights in inches: [150, 155, 145, 148]
Heights in centimeters: [381.0, 393.7, 368.3, 375.92]

In [10]:
heights = [150,155, 145, 148] # sample list of heights in inches
centimeters = [round(height * 2.54, 2) for height in heights] # convert each height in inches to centimeters and store it in a new list using list comprehension

print("Heights in inches:", heights)
print("Heights in centimeters:", centimeters)

Heights in inches: [150, 155, 145, 148]
Heights in centimeters: [381.0, 393.7, 368.3, 375.92]